body{
    font-size: 14px;
}

#logo-tsystems{
    max-height: 30px;
    float: right;
}
.dtHorizontalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
}
table.table-sm tbody tr td{
    padding: 3px;
    font-size: 12px;
}

.table-sm th, td {
    white-space: nowrap;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .2em;
}

@media (max-width: 400px) {
    body{
        font-size: 12px;
    }
    #logo-tsystems{
        display: none;
    }
}